@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Merienda&family=Open+Sans&family=Parisienne&family=Satisfy&display=swap");

:root {
  --secondary-white: #e5e5e5;
  --main-blue: #316aba;
  --main-black: #303030;
  --main-white: #f6f6f6;
}

html {
  scroll-behavior: smooth;
  background-color: var(--main-white);
}
body {
  margin: 0;
  display: inline;
  width: 100vw;
  height: 100vh;
}

.RecipeCreate {
  background-color: var(--secondary-white);
  margin: 0;
}

.RecipeCreate h1 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  width: 100%;
  font-size: 2.2rem;
  line-height: 17vh;
  padding-top: 3%;
}

.RecipeCreate h3 {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  margin: auto;
  width: 75%;
  font-size: 1.6rem;
  margin-top: 7%;
  margin-bottom: 2%;
}

.RecipeCreate form {
  min-height: 7vh;
  margin-top: 1.4vh;
}
.RecipeCreate .todo-input.input-with-button {
  width: 65%;
  margin-right: 0;
  margin-bottom: 3vh;
}
.RecipeCreate form input,
.RecipeCreate form button {
  width: 75%;
  font-size: 1.3rem;
  border: none;
  background: var(--secondary-white);
  margin-left: 12.5%;
  margin-right: 12.5%;
}
.RecipeCreate form button {
  color: var(--main-white);
  margin: 0;
  background: var(--main-blue);
  margin-top: 2%;
  height: 10%;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 10%;
}
.RecipeCreate form button:hover {
  background: white;
  color: var(--main-black);
}

.RecipeCreate .form-container {
  padding-top: 4vh;
  width: 100%;
  z-index: 2;
  border-radius: 50px 50px 0 0;
  background-color: var(--main-white);
}
.RecipeCreate .todo-container {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-left: 12.5%;
}

.RecipeCreate .todo-list {
  width: 100%;
  list-style: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0em;
  margin-left: 0;
}

.RecipeCreate .todo {
  margin-bottom: 0.5rem;
  background: var(--secondary-white);
  font-size: 1.5rem;
  width: 75%;
  color: var(--main-black);
  display: flex;
  justify-content: space-between;
  align-items: left;
  transition: all 1s ease;
  word-wrap: break-word;
}
.RecipeCreate .filter-todo {
  padding: 1rem;
}
.RecipeCreate .todo li {
  flex: 1;
}

.RecipeCreate .trash-btn,
.RecipeCreate .complete-btn {
  background: var(--main-black);
  color: white;
  border: none;
  width: 10%;
  cursor: pointer;
  font-size: 1rem;
}
.RecipeCreate .complete-btn {
  background: var(--main-blue);
}
.RecipeCreate .todo-item {
  padding: 0rem 0.5rem;
  margin-top: 2%;
}

.RecipeCreate .fa-trash,
.RecipeCreate .fa-arrow-down {
  pointer-events: none;
}

.RecipeCreate .fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.RecipeCreate .completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
.RecipeCreate select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.RecipeCreate .select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.RecipeCreate select {
  color: #ff6f47;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.RecipeCreate .select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}

.btn.submit-button-create {
  background-color: var(--main-blue);
  border-color: var(--main-blue);
  color: var(--main-white);
  margin-bottom: 5vh;
  margin-top: 6vh;
  margin-left: 12.5%;
  margin-right: 3%;
}
.btn.submit-button-delete {
  background-color: var(--main-black);
  border-color: var(--main-black);
  color: var(--main-white);
  margin-bottom: 5vh;
  margin-top: 6vh;
}

.RecipeCreate .todo li {
  flex: 1 1;
  word-break: break-all;
}
