@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Merienda&family=Open+Sans&family=Parisienne&family=Satisfy&display=swap");

:root {
  --secondary-white: #e5e5e5;
  --main-blue: #316aba;
  --main-black: #303030;
  --main-white: #f6f6f6;
}

.View a {
  text-decoration: none;
  color: var(--main-white);
}

.View {
  background-color: var(--secondary-white);
  margin: 0;
}

.View h1 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  width: 100%;
  font-size: 2.2rem;
  line-height: 17vh;
  padding-top: 3%;
}
