@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Merienda&family=Open+Sans&family=Parisienne&family=Satisfy&display=swap");

:root {
  --secondary-white: #e5e5e5;
  --main-blue: #316aba;
  --main-black: #303030;
  --main-white: #f6f6f6;
  background-color: var(--secondary-white);
  padding-bottom: 2%;
}

.View a {
  text-decoration: none;
  color: var(--main-white);
  z-index: -1;
}

.View {
  background-color: var(--secondary-white);
  margin: 0;
}

.View h1 {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  width: 60%;
  font-size: 2.2rem;
  line-height: 17vh;
  padding-top: 3%;
  margin-left: 20%;
}

.viewBody {
  padding-top: 6vh;
  margin-top: 7%;
  width: 60%;
  z-index: 2;
  border-radius: 50px 50px 50px 50px;
  background-color: var(--main-white);
  position: relative;
  margin-left: 20%;
  padding-bottom: 4vh;
  margin-top: 4%;
}
.View .recipe-image {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 7%;
  margin-bottom: 4%;
  margin-top: 1%;
}

.viewing-link {
  margin-left: 20%;
  width: 20%;

  background-color: var(--main-blue);
  border-radius: 10px;
  font-family: "open-sans", sans-serif;
  font-size: 1em;
  padding: 1%;
  margin-bottom: 10vh;
}

.viewing-link:hover {
  color: var(--main-black);
}

.ingreContainer {
  margin-left: 7%;
  margin-bottom: 8%;
  color: var(--main-black);
}
.stepsContainer {
  margin-left: 7%;
  margin-bottom: 8%;
  color: var(--main-black);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .View a {
    text-decoration: none;
    color: var(--main-white);
    z-index: -1;
  }

  .View {
    background-color: var(--secondary-white);
    margin: 0;
  }

  .View h1 {
    font-family: "Open Sans", sans-serif;
    text-align: left;
    width: 86%;
    font-size: 2.2rem;
    line-height: 17vh;
    padding-top: 3%;
    margin-left: 7%;
  }

  .viewBody {
    padding-top: 4vh;
    margin-top: 7%;
    width: 100%;
    z-index: 2;
    border-radius: 50px 50px 0 0;
    background-color: var(--main-white);
    position: relative;
    margin-left: 0;
  }
  .View .recipe-image {
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 7%;
    margin-bottom: 7%;
    margin-top: 1%;
  }

  .viewing-link {
    margin: 7%;
    width: 10%;

    background-color: var(--main-blue);
    border-radius: 10px;
    font-family: "open-sans", sans-serif;
    font-size: 1.1em;
    padding: 1%;
    margin-bottom: 10vh;
  }

  .viewing-link:hover {
    color: var(--main-black);
  }

  .ingreContainer {
    margin-left: 7%;
    margin-bottom: 8%;
    color: var(--main-black);
  }
  .stepsContainer {
    margin-left: 7%;
    margin-bottom: 8%;
    color: var(--main-black);
  }
}
